<h2 mat-dialog-title>

  <mat-icon>
    home
  </mat-icon>

  {{ editando ? 'Editar endereço' : 'Novo endereço' }}

</h2>



<mat-dialog-content>


  <form [formGroup]="form">


    <mat-form-field appearance="outline">

      <mat-label>Tipo</mat-label>

      <input matInput formControlName="tipo">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>CEP</mat-label>


      <input matInput formControlName="codigoPostal">


      <button mat-icon-button matSuffix type="button" (click)="buscarCep()">


        <mat-icon>
          search
        </mat-icon>


      </button>


    </mat-form-field>


    <mat-form-field appearance="outline">

      <mat-label>Logradouro</mat-label>

      <input matInput formControlName="logradouro">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>Número</mat-label>

      <input matInput formControlName="numero">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>Complemento</mat-label>

      <input matInput formControlName="complemento">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>Bairro</mat-label>

      <input matInput formControlName="bairro">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>Município</mat-label>

      <input matInput formControlName="municipio">

    </mat-form-field>



    <mat-form-field appearance="outline">

      <mat-label>Estado</mat-label>

      <input matInput formControlName="estado">

    </mat-form-field>


  </form>


</mat-dialog-content>



<mat-dialog-actions align="end">


  <button mat-button (click)="cancelar()">

    Cancelar

  </button>


  <button mat-raised-button color="primary" (click)="salvar()">

    Salvar

  </button>


</mat-dialog-actions>